@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a > h3 {
  color: #999;
}
.navbar-header{
  float: none;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: transparent;
}

.container-fluid>.navbar-header{
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.gi-2x{font-size: 2em;}

.gi-3x{font-size: 3em;}

.gi-4x{font-size: 4em;}

.gi-5x{font-size: 5em;}


/* ---------------------------------------------------
    NEW SIDEBAR STYLE
----------------------------------------------------- */
body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 300px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 300px;
  width: 0;
  height: 100%;
  margin-left: -300px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper > span{
  position: absolute;
  bottom: 0px;
  width: 80%;
  left: 10%;
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #004f89;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #004f89;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
  color: #fff;
  background: #004f89;
}

.sidebar-nav>.sidebar-brand {
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #629fbf;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 300px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 300px;
    background-color: #fff;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #wrapper.toggled #sidebarCollapse {
    display: none;
  }
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
    FORM ADD LESSON STYLE
----------------------------------------------------- */

.lesson_title{
  background-color: #004F89;
  color: #fff;
  margin-right: -51px;
  padding-right: 100px;
}

.btn-trans{
  background-color: transparent;
  color: #004F89;
}

.question_number{
  text-align: center;
  color: #004f89;
}

.question-text{
  border-left: 1px solid;
  border-color: #6e9fbf;
  padding-left: 10%;
}

.label-select{
  border-bottom: 1px solid #b9b9b9;
  padding-left: 10%;
}

.question-select{
  border-left: 1px solid;
  border-color: #6e9fbf;
  padding-left: 10%;
  width: 80%;
  border-right: 1px solid #b9b9b9;
}

label{
  color: #5f86a1;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, textarea{
  border: 0px;
  border-bottom: 1px solid;
  border-color: #b9b9b9;
  width: 100%;
}

td-help{
  width: 10%;
  text-align: center;
}

select.selectpicker {
      display: block;
      margin: 0 auto;
      padding-left: 20px;
      width: 100%;
}

.btn-new {
      background-color: #2A3F54;
  color: #fff;
}

.bootstrap-select {
  width: 100% !important;
}

.input-help{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-color: #004f89;
  color: #fff;
  font-size: 20px
}

hr{
  border-top: 1px solid #b9b9b9;
}

#textarea_feedback{
  text-align: right;
}

.btn-file {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-lesson{
  background-color: #004f89;
  color: #fff !important;
  border: none;
  border-radius: 0px;
  width: 80%;
}

progress{
  -webkit-appearance: none;
  width: 100%;
}

::-webkit-progress-value{
  background-color: #004f89;
}

#percent{
  width: 50%;
  float: left;
  text-align:center;
  font-size: 85%;
  color: #004f89;
}

.input-group-addon{
  background-color: #fff;
  border: none;
}
/* ---------------------------------------------------
    FORM SEARCH LESSON STYLE
----------------------------------------------------- */

#div_search .input-group .form-control{
  border: none;
  box-shadow: none;
}

#div_search{
  padding: 10px;
  text-align: center;
}

#div_search .input-group{
  border: 1px solid #b9b9b9;
  width: 85%;
  float: left;
}

.filter i {
  padding: 5px 10px 5px 10px;
}

.opt-filter .btn-group .btn {
  padding: 0px;
  border: 1px solid #000;
  color: #000;
  min-width: 33.3%;
  min-height: 40px;
}

.opt-filter .btn-group{
  width: 100%;
}

div .lesson {
  width: 100%;
  height:100px;
  overflow: hidden;
  border:1px solid #b9b9b9;
  padding: 5px;
  margin: 5px;
}

div #text{
  float: left;
  text-align: left ;
  color: #507fa6;
}

div #text #author{
  font-size: 0.8em;
  text-align: left ;
  color: #b9b9b9
}

div #preview{
  float: right;
  height: 100px;
  overflow: hidden;
  margin: -5px;
}

div #video {
  width: 100%;
  margin: 5px;
  text-align: right;
  position: relative ;
}

div #video span {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  color: #fff;
}

div #video #price{
  font-size: 2em;
  font-style: normal;
}

/* ---------------------------------------------------
    FORM REQ LESSON STYLE
----------------------------------------------------- */

.btn-option{
  background-color: #fff;
  color: #004f89;
  border: 1px solid #000;
  border-radius: 0px;
  width: 20%;
}

.btn-option:active, .btn-option:hover, .btn-option.active{
  background-color: #004f89;
  color: #fff;
}

.btn-group{
  width: 100%;
}

/* ---------------------------------------------------
    MY ACCOUNT STYLE
----------------------------------------------------- */

.nav-tabs{
  width: 100%;
  border: none;
  border-bottom:2px solid #004f89;
}

.nav-tabs>li {
  width: 33.33%
}

.nav-tabs>li>a::before{
  content: none;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover{
  text-align: center;
  color: #004f89;
  border: 0px;
}

.nav-tabs>li>a:active, .nav-tabs>li.active>a, .nav-tabs>li>.active,
.nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover{
  border: 0px;
  border-bottom: 15px solid #004f89;
  background-color: #fff;
  color: #004f89;
}

.tab-content div h3{
  text-align: center;
  color: #004f89;
  margin-bottom: 10px;
}

/* ---------------------------------------------------
    REQUEST LESSON STYLE
----------------------------------------------------- */

#request_table{
  border: none;
  width: 100%;
  margin: 15px;
  text-align: left;
  color: #b9b9b9;
}

#request_table thead{
  border-bottom: 1px solid #000;
  font-size: small;
  color: #004f89;
}

#request_table .title{
  width: 90%;
}

#request_table .award{
  width: 10%;
  text-align: center;
  color: #6e9fbf;
}

#request_table td.award{
  font-size: 200%;
  vertical-align: middle;
}

/* ---------------------------------------------------
    LESSON DETAILS STYLE
----------------------------------------------------- */

div #lesson_detail {
  overflow: hidden;
  border:1px solid #b9b9b9;
  padding: 5px;
  padding-bottom: 20px;
  margin: 5px;
  margin-bottom: 40px;
}

div #lesson_detail div #title {
  font-size: 200%;
}

div #lesson_detail div #desc{
  margin-top: 20px;
  color: #b9b9b9;
  text-align: justify;
}

div #review{
  border-bottom: 1px solid #b9b9b9;
  padding: 15px;
  height: 120px;
}

div #review div.title{
  color: #9b9b9b;
  font-size: 150%;
  text-align: left;
}

div.rev_image, div.rev_text{
  float: left;
  padding: 10px;
  text-align: left;
}

div #detail_lesson_modal.modal.fade.in{
  background: rgba(0, 0, 0, 0.7);
}

div #detail_lesson_modal > div.modal-dialog > div.modal-content {
  border-radius: 0px;
  background: #000;
  padding: 5px;
}

div #detail_lesson_modal > div.modal-dialog > div.modal-header {
  border: none;
  background: #000;
  padding: 5px;
}
div #detail_lesson_modal > div.modal-dialog > div.modal-header > .close {
  color: #e5e5e5;
  padding: 5px;
}

div #detail_lesson_modal > div.modal-dialog > div.modal-content > div #title{
  margin-top: 10px;
  background: #fff;
  text-align: left;
  color: #004f89;
  font-size: 1.5em;
  padding: 5px;
}

div #detail_lesson_modal > div.modal-dialog > div.modal-content > div #price{
  margin-top: 10px;
  color: #000;
  text-align: right;
  font-size: 2.5em;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 5px;
}

div #detail_lesson_modal > div.modal-dialog > div.modal-content > div #author{
  background: #fff;
  text-align: left;
  color: #b9b9b9;
  font-size: 0.9em;
  padding: 5px;
}
div #detail_lesson_modal > div.modal-dialog > div.modal-content > div #author_det{
  margin-top: 10px;
  background: #fff;
  height: 100px;
  position: relative;
  padding: 5px;
}
div #detail_lesson_modal > div.modal-dialog > div.modal-content > div #author_det > div.author_name{
  text-align: left;
  color: #b9b9b9;
  padding: 10px;
  float: left;
}

div #detail_lesson_modal > div.modal-dialog > div.modal-content > div #author_det > div.video_qtd{
  font-size: 2em;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

div #detail_lesson_modal > div > div.modal-content > div #buy{
  margin-top: 10px;
  background: #fff;
  padding: 10px;
}

/* ---------------------------------------------------
    PURCHASE STYLE
----------------------------------------------------- */

.modal-body > .purchase{
  width: 90%;
  color: #9b9b9b;
  text-align: left;
  margin: auto;
}

.value_purchase {
  text-align: right;
}

.modal-body{
  text-align: center;
}

.modal-body > p{
  text-align: left;
}

div.modal-dialog{
  /*margin-top: 45%;
  width: 90%;*/
}

div#addPayment{
  position: relative;
  margin-top: 75%;
}

table.paymentMethod{
    width: 100%;
}

tr.paymentMethodRow{
	border-bottom: 1px solid #b9b9b9;

}

td.paymentMethodName{
    width: 70%;
    padding: 10px;
    text-align: left;
}

#cc > div > form > .input-group{
    border: 2px solid #b9b9b9;
    width: 100%;
    margin-bottom: 10px;
}

#cc > div > form > .input-group > .form-control{
    border: none;
}

#div_exp {
  float: left;
  width: 50% !important;
}

#div_cvv {
  float: right;
  width: 50% !important;
  text-align: right;
}
